@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  background: #fffdfa;
  color: #332100;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.Ships {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}